//PALLETTE
$white: #fff;
$grey0: #f0f0f0;
$grey1: #f5f5f5;
$grey2: #fafafa;
$grey3: #d8d8d8;
$grey4: #818181;
$grey5: #171717;
$black: rgba(#000, 0.87);
$blue-navy: #2c2b66;
$blue-sky: #3ca6f1;
$blue-sky-tone: #2c8bce;
$blue-light: #f5fcfe;
$blue-light2: #ddf3f8;
$yellow: #cab000;
$red: #e03a3e;