.sv-button {
    height: 33px;
    border: 1px solid $grey3;
    border-radius: 4px;
    background-color: $grey2;
    color: $black;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;

    &:active{
        background-color: $blue-sky;
        border-color: $blue-sky;
        color: $white;
    }

    &:focus {
        outline: none;
    }

}

.sv-button--confirm {
    background-color: $blue-sky;
    border: none;
    color:  $white;
}

.sv-button--compact {
    font-size: 12px;
    font-weight: 600;
    height: 26px;
    max-width: 62px;
}

.sv-button--group-left,  
.sv-button--group-right
{
    font-weight: 600;
    font-size: 12px;
    color: $black;
}

.sv-button--group-left {
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.sv-button--group-right {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.sv-button--group-middle {
    border-radius: 0;
}

.sv-button--focused {
    background-color: $blue-sky;
    border-color: $blue-sky;
    color: $white;
}

.sv-button--flat {
    background-color: transparent;
    border: none;
    color: $grey4;
}